{% load static %}
<html>
    <head>
        <title>You Have To Live Your Life{% if defaultRetort.longName != "" %}: "{{ defaultRetort.longName }}"
            {% endif %}
        </title>
        <link rel="stylesheet" href="{% static 'mainsite/style.css' %}">
    </head>
    <body>
        
        <div id="topbar">
            <header>You Have To Live Your Life</header> <div>A resource for COVID-19 research and information</div>
        </div>
        <div id="top-container">
            {% if MinimizerRetorts %}
            <div id="retort-container">
                <form action="/" method="post" name="retortSelect">
                    {% csrf_token %}
                    <select name="minimizer-dropdown" onChange="javascript:document.retortSelect.submit()" class="minimizer-dropdown">
                        <option value="{{ blankOption.shortName }}"
                                {% if blankOption.shortName == defaultRetort.shortName %}
                                    selected="selected"
                                {% endif %} > {{ blankOption.shortName }} </option>
                        {% for retort in MinimizerRetorts %}
                            <option value="{{ retort.shortName }}"
                                {% if retort.shortName == defaultRetort.shortName %}
                                    selected="selected"
                                {% endif %}
                                > {{ retort.longName }} </option>
                        {% endfor %}
                    </select>
                </form>
                <img src="{% static 'mainsite/koe2.png' %}" id="koe">
                
                {% if minimizerImage %}
                    <img src="{% static minimizerImage.localPath %}" id="minimizer" alt="{{ minimizerImage.altText}}" title="{{ minimizerImage.altText}}">
                {% endif %}
            </div>
            
            {% else %}
                <p>No minimizer quips were sent! Did we finally solve covid?</p>
            {% endif %}
        </div>
        <div id="content-container">
            {% if extraInfo %}
                <div class="extraInfo">
                    a!
                </div>
            {% endif %}
            {% if retortResults %}
                {% for result in retortResults %}
                    <div class="fact">
                        {% if result.publication %}
                            <div class="flexrow">
                                <div class="fact-publication">{{ result.publication }}</div>
                            </div>
                        {% endif %}

                        <div class="flexrow">
                            {% if result.emphasis == "HEADLINE" %}
                                <div class="fact-firstEmphasis">
                            {% else %}
                                <div class="fact-secondEmphasis">
                            {% endif %}
                            <a href=" {{ result.liveLink }}">{{ result.headline }}</a></div>

                            {% if result.archiveLink %}
                                <div class="fact-archiveLink"><a href=" {{ result.archiveLink }}">Archive Link</a></div>
                            {% endif %}
                        </div>
                        
                        <div class="flexrow">
                            {% for excerpt in result.excerpt %}
                                {% if result.emphasis == "EXCERPT" %}
                                    <div class="fact-firstEmphasis">
                                {% else %}
                                    <div class="fact-secondEmphasis">
                                {% endif %}
                                {{ excerpt }}</div>
                            {% endfor %}
                        </div>
                        
                        <div class="flexrow">
                            <div class="attributes-row">
                                {% if result.author %}
                                    <div class="fact-author">{{ result.author }}</div>
                                {% endif %}
                                
                                {% if result.authors_title %}
                                    <div class="fact-authors-title">{{ result.authors_title }}</div>
                                {% endif %}
                                
                                {% if result.datePublished %}
                                    <div class="fact-datePublished">Date published: {{ result.datePublished }}</div>
                                {% endif %}
                                {% if result.dateArchived %}
                                    <div class="fact-dateArchived">Date archived: {{ result.dateArchived }}</div>
                                {% endif %}
                            </div>
                        </div>
                        
                        {% if result.get_type_display %} <!-- indicates pre-viewmodel -->
                            <div class="flexrow">
                                <div class="fact-type">{{ result.get_type_display }} <!--djangoism; 'result.type' would return the user-unfriendly name-->
                                </div>
                                <div class="fact-source">{{ result.get_source_display }}</div>
                            </div>
                        {% endif %}
                        {% if result.typeOfPiece %} <!-- indicates post-viewmodel -->
                            <div class="flexrow">
                                <div class="fact-type">{{ result.typeOfPiece }}
                                </div>
                                <div class="fact-source">{{ result.typeOfSource }}</div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="instructions">Select an option from the drop-down!</div>
                <div class="voidspace"></div>
            {% endif %}
        </div>
        <footer>
            <div class="disclaimer">
                Satirical depictions of any individuals' speech are not true quotes and do not represent any specific person's speech or opinions.
            </div>
            Website by <a href="https://chrisisgre.at">chrisisgr8</a>
        </footer>
    </body>
</html>
