@import url(https://fonts.bunny.net/css?family=abyssinica-sil:400);

@import url(https://fonts.bunny.net/css?family=aleo:400,400i,700,700i|amiri:400,400i);

:root{
    --top-height: 24rem;
    --smallest-text: 10pt;
    --small-text: 12pt;
    --medium-text: 14pt;
    --big-text: 21pt;
    --bg-important: #46ADEB;
    --z-index-main: 1;
    
    
}

body{
    margin: 0;
    overflow-x: hidden;
}

#topbar{
    width: 100%;
    height: 4rem;
    margin: 0;
    background-color: var(--bg-important);
    
    color: #ffffff;
    font-family: Aleo;
    font-size: 16pt;
    padding: 4px;
    
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    
    align-items: center;
    justify-content: center;
}


#topbar > *{
    margin-right: 0.5rem;
}

#topbar header{
    font-weight: 700;
}

#content-container{
    display:flex;
    flex-direction: column;

    width: 48rem;
    margin-left: auto;
    margin-right: auto;
    z-index: var(--z-index-main);
}

#retort-container{
    width: 100%;
    height: var(--top-height);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    
    margin-bottom: 2rem;
}

#top-container{
    margin-left: 8rem;
    /*padding-left: 8rem;*/
}

#retort-container select{
    font-size: 20pt;
    width: 36rem;
    position: relative;
    left: 8rem;
    top: -1rem;
}

#minimizer{
    width: 400px;
    height: auto;
    
    position: relative;
    left: -13rem;
    top: 12rem;
    z-index: 0;
}

#koe{
    width: 300px;
    height: auto;
    
    position: relative;
    left: -3rem;
    top: 0.5rem;
    z-index: 1;
}

.instructions{
    text-align: center;
    font-family: Aleo;
    font-size: var(--medium-text);
    color: #fff;
    
    background-color: var(--bg-important);
    border-radius: 5px;
    padding: 0.5rem;
    
    z-index: var(--z-index-main);
}

.flexrow{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 0.2rem;
}

.flexrow > *{
    margin-right: 0.5rem;
}

.attributes-row{
    font-size: var(--small-text);
    display:inline;
    width: 100%;
}

.attributes-row > *{
    margin-right: 0.7rem;
}

.fact{
    box-sizing: border-box;

    width: 100%;
    background-color: #ddd;
    
    margin-bottom: 2rem;
    
    /*note to future generations: we're using px here because we get nice round corners with px and distorted corners with percentages (looks like it applies the border radius for a square shaped element and then distorts them away from a square)*/
    border-radius: 25px;
    
    padding:2%;
    
    box-shadow: 0px 5px #888;
    
    font-family: Aleo, serif;
    
    z-index: var(--z-index-main);
}

.fact-publication{
    font-size: var(--small-text);
    font-weight: bold;
}

.fact-firstEmphasis{
    font-size: var(--big-text);
}

.fact-secondEmphasis{
    font-size: var(--medium-text);
}

.excerpt .fact-firstEmphasis{
    text-align: center;
}

.fact-author{
    font-style: italic;
    display:inline;
}

.fact-authors-title{
    font-style: italic bold;
    display:inline;
}

.fact-datePublished{
    display: inline;
}

.fact-dateArchived{
    display: inline;
}

.fact-type{
    border-radius: 5px;
    background-color: #1ef400;
    padding-left: 5px;
    padding-right: 5px;
}

.fact-source{
    border-radius: 5px;
    background-color: #00c8f4;
    
    padding-left: 5px;
    padding-right: 5px;
}

footer{
    text-align: center;
    font-size: var(--smallest-text);
    font-family: Aleo;
}

.voidspace{
    height: 20rem;
}

.minimizer-dropdown{
    z-index: 2;
}
